header {
	height: 80px;
	background-color: #000000;
	position: fixed;
	width: 100%;
	z-index: 1;
}

header .head-1 {
	height: 100%;
	margin: 0% 10% 0% 10%;
}

header h1 {
	color: #ffffff;
	padding: 0%;
	font-size: 4em;
	margin: 0.15em 14.5em 0em 0em;
	font-family: 'Ferro Rosso', sans-serif;
}

article {
	background-color: rgba(255, 255, 255, 0.1);
	margin: 8.9% 8% 0% 8%;
}

footer {
	margin: 14% 0% 0% 0%;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.1);
}

#flexbox {
	display: flex;
}

#grid {
	display: grid;
}

#logo-1 {
	height: 100%;
	width: auto;
	margin-left: 14.5em;
}

#gradient-1 {
	height: 40px;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	position: relative;
	top: 88px;
	width: 100%;
}

#foot-3 {
	margin: 1% 1% 1% 1%;
}

#foot-3 img {
	padding: 10%;
}

#foot-3 img:hover {
	background-color: rgba(255, 255, 255, 0.08);
}

#foot-1 {
	margin: 0.5% 0.5% 0.5% 0.5%;
}

#foot-1 #logo-2 {
	padding: 10%;
}

#foot-2 {
	margin-top: 1.5%;
	width: 87%;
}

#foot-2-1 {
	border-right: 1px solid white;
}

#foot-2-3 {
	border-left: 1px solid white;
}

#foot-2-1, #foot-2-2, #foot-2-3 {
	padding: 0.2% 8% 0.2% 8%;
}

.top-img {
	z-index: -1;
	width: 100%;
}

.laferrari-img {
	width: 100%;
}

.lafferari-div-1 {
	width: 700%;
}

.lafferari-div-2 {
	margin: 1.2% 4% 1.2% 4%;
	color: #ffffff;
}

.lafferari-div-2 h2, .f8-div-4 h2, .racetrack-div-2 h2, .superfast-div-1 h2 {
	font-family: 'Ferro Rosso', sans-serif;
}

.lafferari-div-2 h3, .f8-div-4 h3, .racetrack-div-2 h3, .superfast-div-1 h3 {
	line-height: 170%
}

.f8-grid {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}

.f8-img-rear, .f8-img-front {
	width: 100%;
}

.f8-div-3, .f8-div-2, .f8-div-1 {
	width: 100%;
}

.f8-div-4 {
	margin: 1.2% 4% 1.2% 4%;
	color: #ffffff;
	grid-column: span 3;
}

.dropbtn {
	background-color: #000000;
	padding: 10%;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
	margin: 1% 0% 2% 11.2%;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #000000;
	min-width: 160px;
	box-shadow: 0% 8% 16% 0% rgba(0,0,0,0.2);
	z-index: 1;
	transform: translate(-40%, 0%);
}

.dropdown-content a {
	color: #ffffff;
	padding: 10% 14%;
	text-decoration: none;
	display: block;
	font-family: sans-serif;
}

.dropdown-content a:hover {
	background-color: #1a1a1a;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #000000;
}

.menu-icon {
	height: 45px;
	width: auto;
}

.racetrack-img {
	width: 100%;
	margin: 1% 1% 1% 1%;
}

.racetrack-div-1 {
	width: 700%;
	border-width: 10px;
	border-color: rgba(255, 255, 255, 0);
	border-style: solid;
}

.racetrack-div-2 {
	margin: 1.2% 4% 1.2% 4%;
	color: #ffffff;
}

.superfast-img {
	width: 100%;
}

.superfast-div-1 {
	margin: 1.2% 4% 1.2% 4%;
	color: #ffffff;
	width: 35%;
}